<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        ul {
            list-style: square inside url("sqpurple.gif");
            font-size: 25px;
            padding: 20px;
        }
        h1 {
            color: blueviolet;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>{{page_title}}</h1>
    {% if  selected %}
    <ul>
        {% for taskt in selected %}
            <li><em>{{ taskt }}</em></li>
        {% endfor %}
    </ul>
    {% endif %}

</body>
</html>